body {
    font-family: 'Arial', sans-serif;
    background-color: #e7d90b; /* Fondo amarillo */
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #007bff;
}

#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.character {
    background-color: #460ce6;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(209, 10, 10, 0.877);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.character img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.character:hover img {
    transform: scale(1.1);
}

/* Efecto de resaltar */
.selected {
    transform: scale(1.3);
    border: 5px solid #ff6347;
}

.btn {
    margin: 10px;
}
